.header {
    color: white;
    background-color: hsl(0, 0%, 1%);
    padding: 20px;
    text-shadow: 3px 3px hsl(0, 0%, 30%);
}

.footer {
    color: white;
    background-color: #020202;
    padding: 20px;
    text-shadow: 3px 3px #4d4d4d;
    margin: 20px auto 50px;
}

.button {
    background-color: hsl(0, 0%, 30%);
    color: white;
    padding: 10px;
    box-shadow: 4px 3px 6px 0px hsl(0, 0%, 1%);
    border-radius: 5px;
    border: none;
    width: 100%;
    max-width: 300px;
}

button:hover {
    background-color: hsl(0, 0%, 35%);
}

button:active {
    background-color: hsl(0, 0%, 40%);
}

button:focus {
    outline: 4px solid black
}

.form__text {
    display: inline-block;
    width: 100%;
    max-width: 150px;
    padding: 0px;


}

.form__field {
    display: inline-block;
    width: 100%;
    max-width: 400px;
    border-radius: 5px;
    padding: 0px;
    border: 0px;
}

.form__field:hover {
    color: black;
    background-color: hsl(180, 100%, 35%);
}

.form__field:active {
    color: black;
    background-color: teal;
}

.form__field:focus {
    color: black;
    outline: 4px solid black
}