.container {
    text-align: left;
    max-width: 800px;
    margin: auto;
    overflow: auto;
    resize: both;
    padding: 10px;
    background-color: hsl(0, 0%, 90%);
    line-height: 1.4;
    background-image: url("../images/landscape.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

}